{:cost 2
 :deck-limit 3
 :faction :shaper
 :id "hype"
 :influence-cost 2
 :memory-cost 1
 :side :runner
 :text "When you steal an agenda, trash Hype, draw 3 cards and gain 5[credit].\nWhen you install Hype from your heap, flip it."
 :title "Hype"
 :type :program
 :illustrator ""
 :flavor "The greatest risk is not taking any."
 :backside-title "Hope"
 :illustrator "DALL-E"
 :uniqueness false}
