{:cost 2
 :deck-limit 3
 :faction :nbn
 :id "talent-scout"
 :influence-cost 2
 :side :corp
 :strength 2
 :subtype [:code-gate :observer]
 :text "When your turn begins, if the Runner is tagged, flip Talent Scout.\n[subroutine] End the run unless the Runner takes 1 tag.\n[subroutine] The Runner loses [click], if able."
 :title "Talent Scout"
 :type :ice
 :backside-title "Red Carpet"
 :uniqueness false}
