{:deck-limit 1
 :faction :haas-bioroid
 :id "haas-bioroid-stronger-together"
 :influence-limit 20
 :minimum-deck-size 40
 :side :corp
 :subtype [:megacorp]
 :text "All <strong>bioroid</strong> ice has +1 strength."
 :title "Haas-Bioroid: Stronger Together"
 :type :identity
 :uniqueness false}
