{:cost 5
 :deck-limit 3
 :faction :neutral-corp
 :id "hedge-fund"
 :influence-cost 0
 :side :corp
 :subtype [:transaction]
 :text "Gain 9[credit]."
 :title "Hedge Fund"
 :flavor "Hedge Fund. Noun. An ingenious device by which the rich get richer even while every other poor SOB is losing his shirt. <br> <ral00> -The Anarch's Dictionary, Volume Who's Counting?"
 :type :operation
 :uniqueness false}
