{:cost 3
 :deck-limit 3
 :faction :jinteki
 :id "kyuudoka"
 :influence-cost 3
 :side :corp
 :strength 6
 :subtype [:sentry :ap]
 :text "As an additional cost to rez Kyuudoka, the Corp must forfeit an agenda.\n[subroutine] The Corp may draw 1 card.\n[subroutine] Do 1 net damage.\n[subroutine] Do 1 net damage.\n[subroutine] End the run."
 :title "Kyuudoka"
 :type :ice
 :flavor "Nothing came between the thought and the action, and nothing was left over."
 :uniqueness false
 :font-fudge-factor 0.97}
