{:cost 3
 :deck-limit 3
 :faction :criminal
 :id "maron"
 :influence-cost 3
 :memory-cost 1
 :side :runner
 :strength 2
 :subtype [:icebreaker :decoder :ritzy]
 :text "1[credit]: Break <strong>code gate</strong> subroutine.\n1[credit]: +2 strength.\nWhen a successful run in which you used Maron to break a subroutine ends, lose 3[credit]."
 :title "Maron"
 :type :program
 :flavor "\"The best vintages aren't cheap, but nobody would disagree that they're worth it. Especially if you don't ask.\" <br> <ral00> -Dionysus Bagbiter"
 :uniqueness false
 :font-fudge-factor 0.96}
