{:cost 0
 :deck-limit 3
 :faction :haas-bioroid
 :id "nootropics-campaign"
 :influence-cost 1
 :side :corp
 :subtype [:advertisement]
 :text "When your turn begins, gain 1[credit] if there are more cards in HQ than in the Runner's grip.  If there are at least 3 more, you may also draw a card."
 :flavor "HB's nootropics brand had the misfortune of sharing managers with its bioroid adtech spinoff."
 :title "Nootropics Campaign"
 :trash-cost 4
 :type :asset
 :uniqueness false}
