{:advancement-requirement 5
 :agenda-points 3
 :deck-limit 1
 :faction :nbn
 :id "plausible-deniability"
 :side :corp
 :text "Once per game when the Runner accesses Plausible Deniability from a central server, you may pay 2[credit]. If you do, it cannot be stolen this turn.\nLimit 1 per deck."
 :title "Plausible Deniability"
 :type :agenda
 :uniqueness true
 :flavor "\"You can't put a price on quality journalism. Luckily, you <strong>can</strong> put a lid on it.\" -Keith Randolph Kane"
 :font-fudge-factor 0.92}
