{:cost 3
 :deck-limit 3
 :faction :shaper
 :id "subsidized-processor"
 :influence-cost 2
 :side :runner
 :subtype [:chip]
 :text "<strong>Front face (Subsidized Processor)</strong>\nThe install cost of non-installed programs is reduced by 1.\nIf you have no unused MU, flip Subsidized Processor.\n
<strong>Back face (Borrowed Storage)</strong>\n
+3[mu]"
 :title "Subsidized Processor"
 :flavor "Front: \"Most people don't know that budget PADs can only do high-fidelity VR by offloading rendering work to FriendNet's server farm. \" -Chaos Theory\n
Back: A simple overflow exploit proved sufficient for turning the link to her own purposes: cat vids."
 :type :hardware
 :uniqueness false}
