{:cost 0
 :deck-limit 3
 :faction :anarch
 :id "system-outage"
 :influence-cost 2
 :side :runner
 :subtype [:current]
 :text "This card is not trashed until another <strong>current</strong> is played or an agenda is scored.\nWhenever the Corp draws 1 or more cards, they lose 1[credit] if it is not the first time they have drawn cards this turn."
 :title "System Outage"
 :type :event
 :uniqueness false}
