{:cost 2
 :deck-limit 3
 :faction :nbn
 :id "talent-scout"
 :influence-cost 2
 :side :corp
 :strength 2
 :subtype [:code-gate :observer]
 :text "<strong>Front face (Talent Scout - STR 2 - Code Gate - Observer)</strong>: When your turn begins, if the Runner is tagged, flip Talent Scout.\n[subroutine] End the run unless the Runner takes 1 tag.\n[subroutine] The Runner loses [click], if able.\n
<strong>Back face (Red Carpet - STR 6 - Sentry - Observer)</strong>: [subroutine] Give the Runner 1 tag.\n[subroutine] Give the Runner 1 tag.\n[subroutine] End the run unless the Runner pays 1[credit] for each tag they have."
 :title "Talent Scout"
 :type :ice
 :uniqueness false}
