{:cost 1
 :deck-limit 3
 :faction :jinteki
 :id "the-sisters"
 :influence-cost 4
 :side :corp
 :subtype [:clone]
 :text "When the Runner makes a successful run on this server, you may add 1 unrezzed card installed in it to the top of R&D."
 :title "The Sisters"
 :trash-cost 4
 :flavor "Having never been awakened, Caprice's sisters only know the world as a strange dream informed by fragments of her experiences."
 :font-fudge-factor 0.97
 :type :upgrade
 :uniqueness false}
