{:cost 4
 :deck-limit 3
 :faction :jinteki
 :id "thicket"
 :influence-cost 2
 :side :corp
 :strength 5
 :subtype [:barrier]
 :text "The Runner may trash a card from their grip to break any subroutine on Thicket.\n[subroutine] End the run.\n[subroutine] End the run."
 :title "Thicket"
 :type :ice
 :flavor "Getting in proved easier than getting out."
 :uniqueness false}
