{:cost 6
 :deck-limit 3
 :faction :anarch
 :id "trojan-stable"
 :influence-cost 2
 :memory-cost 2
 :side :runner
 :subtype [:virus]
 :text "Place 3 virus counters on Trojan Stable when it is installed.\nWhen your turn begins, remove 1 hosted virus counter. If you do, gain 3[credit]."
 :title "Trojan Stable"
 :type :program
 :flavor "<2xTiger>: My drive is such a mess...\n<2xTiger>: This is the third time this month I've lost track of one of my trojans -_-\n<N3v3rmor3>: sounds like a real remuda triangle"
 :uniqueness false}
