{:cost 0
 :deck-limit 3
 :faction :mako
 :id "vipaka"
 :influence-cost 2
 :side :runner
 :subtype [:virtual]
 :text "When the Corp scores an agenda, you may install Vipaka from your heap.\nEach <strong>klesha icebreaker</strong> has +1 strength.\n[click]: Trash Vipaka. Only the Corp can use this ability."
 :title "Vipaka"
 :type :resource
 :flavor "As the seed, so the fruit."
 ;; :font-fudge-factor 0.95
 :illustrator "DALL-E"
 :uniqueness false}
